.purple {
  background-color: #8540F5;
}

.jumbo-icons i {
  font-size: 1.5rem;
}

.jumbo-icons a {
  color: black;
}

.jumbo-icons a:hover {
  color: #8540F5;
}

.form-header {
  font-size: 1.5rem;
  position: relative;
  top: 1.5rem;
}