body {
  background-color: #f5f2fa;
}

.light-purple {
  background-color: #e5d9f7;
}

.purple-font {
  color: #8540F5;
}

.purple {
  background-color: #8540F5;
}

.jumbo-icons i {
  font-size: 1.5rem;
}

.jumbo-icons a {
  color: black;
}

.jumbo {
  height: 70vh;
}

.nav-item a {
  font-size: 1.5rem;
}

.jumbo-icons a:hover {
  color: #8540F5;
}

.form-header {
  font-size: 1.5rem;
  position: relative;
  top: 1.5rem;
}

footer i {
  font-size: 1.5rem;
}

footer a {
  color: black;
  font-size: 1.5rem;
}

footer a:hover {
  color: #8540F5;
}

@media (min-width: 1200px) {
  .jumbo {
    padding: 0 10rem;
    font-size: 1.5rem;
  }
}